div.sign-up {
    border-color: rgb(189, 117, 28);
    border-style: solid;
    text-align: center;
    line-height: 30px;
    color: #555;
    border-radius: 10px;
    width: 45%;
    float:left;
    height: 300px;
    margin-top: 18px;
    margin-left: 40px;
    }

div.sign-in {
    border-style: solid;
    border-color: rgb(189, 117, 28);
    text-align: center;
    line-height: 45px;
    color: #555;
    border-radius: 10px;
    width:45%;
    float: right;
    height: 300px;
    margin-left: 40px;
       
}
input {
    box-align: center;
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #555;
    width: auto;
    height: 100px;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px ;
        }

a:link {
    color:rgb(43, 42, 42);
    text-decoration: none;
  }
  a:visited {
    color:rgb(189, 117, 28);
  }
  a:hover {
    color: rgb(137, 132, 132);
  }
  a:active {
    color: rgb(107, 87, 61);